<!-- Example comment system with utterances
 remove comment to enable it
 See https://utteranc.es for more information about this example
-->

{% comment %}

<script src="https://utteranc.es/client.js"
		repo="username/repository"
		issue-term="pathname"
		theme="preferred-color-scheme"
		crossorigin="anonymous"
		async>
</script>

{% endcomment %}

<!--Remove this after enabling comments-->
<div class="userbox">
	<div class="userbox-content">
		<h1>Comment section will be here</h1>
		<h3>See _includes/comments.html</h3>
	</div>
</div>
<br>
