<div class="pagination-controls">
	{% if paginator.page > 1 %}
		<a href="{{ '/' | relative_url }}">1</a>
		<a href="{{ paginator.previous_page_path | relative_url }}"> &lsaquo;</a>
	{% else %}
		<span class="current-page">1</span>
	{% endif %}

	{% assign start_page = paginator.page | minus: 3 %}
	{% if start_page < 1 %}{% assign start_page = 2 %}{% endif %}

	{% assign end_page = paginator.page | plus: 3 %}
	{% if end_page > paginator.total_pages %}{% assign end_page = paginator.total_pages %}{% endif %}
	
	{% for page in (start_page..end_page) %}
		{% if page == paginator.page %}
			<span class="current-page">{{ page }}</span>
		{% else %}
			<a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
		{% endif %}
	{% endfor %}

	{% if paginator.page < paginator.total_pages %}
		<a href="{{ paginator.next_page_path | relative_url }}">&rsaquo;</a>
		<a href="{{ site.paginate_path | replace: ':num', paginator.total_pages | relative_url }}">{{ paginator.total_pages }}</a>
	{% endif %}
</div>
<br><br>