<!-- Post grid, it includes the logic of displaying post on main.
	Edit your _config.yml to configure entries per page, example:
		paginate: 9
		paginate_path: "/page:num/"
 -->

	<div id="posts-container">
		<!-- If you don't want to use pagination
			replace paginator.posts with site.posts
		-->
		{% for post in paginator.posts %}
		<a href="{{ post.url | relative_url }}" class="post-link">
			<article class="post-card">
				<div class="post-image-wrapper">
					{% if post.image %}
					<img src="{{ post.image | relative_url}}" alt="{{ post.title }}" class="post-image" />
					{% endif %}
				</div>
				<div class="post-info">
					<h3 class="post-labels">{{ post.categories | join: ' | ' }}</h3>
					<h2 class="post-title">{{ post.title }}</h2>
					<div class="post-date">{{ post.date | date: site.date_format }}</div>
				</div>
			</article>
		</a>
		{% endfor %}

		<!-- pagination controls, see-->
		{% include pagination-controls.html %}
	</div>